/*.rouge{
    background-color: rgb(255, 51, 0);
    text-align: center;
    border-radius: 5px;
    font-size: 50px;
    height: 80px;
    margin: 0 100px;
}
.vert{
    background-color: rgb(58, 128, 0);
    text-align: center;
    border-radius: 5px;
    font-size: 50px;
    height: 80px;
    margin: 0 100px;
}
.form{
    display: flex;
    margin-top: 100px;
}
.form input{
    height: 40px;
    width: 400px;
    border: rgb(209, 29, 83) solid 2px;
    border-top: none;
    border-radius: 5px;
    background-color: blanchedalmond;
    
}
body{
    background-color: rgb(31, 30, 30);
   
}
.input2{
    margin-left: 150px;
}
.title{
    color:white;
    margin: 50px;
}
@media screen and (max-width: 700px){
    .form{
        display: block;
        margin-top: 20px;
    }
    .form input{
        height: 20px;
        width: 300px;
        font-size: 14px;

    }
    .input2{
        margin-left:0;
        
    }
    .form .input1, .form .input2{
        margin-top: 50px;
    }
    .rouge{
       height: 30px;
        font-size: 14px;
        margin: 0 10px;
    }
    .vert{
        height: 30px;
        font-size: 20px;
        margin: 0 10px;
    }
} 
*/

tr{
   
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.6);
    margin: 0;
}
th{
     padding: 20px 200px;
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
td{
    
    padding: 10px 0;
    font-size: 21px;
}
table{
     border: 0;
     margin-left: 180px;
}
#textfield{
    width: 800px;
}
.header{
    padding: 10px 0;
    text-align: center;
    font-size: 21px;
}
@media screen and (max-width: 700px){
    tr{
   
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,.6);
        margin: 0;
    }
    th{
         padding: 20px 75px;
        text-align: center;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
    }
    td{
        
        padding: 10px 0;
        font-size: 21px;
    }
    table{
         border: 0;
         margin-left: 15%;
         margin-right: 10%;
    }
    #textfield{
        width: 300px;
    }
    .header{
        padding: 10px 0;
        text-align: center;
        font-size: 21px;
    }
    .checkbox{
        margin-left: 120px;
        
    }
    
}